version: 2
updates:
  - package-ecosystem: npm
    directory: "/client"
    schedule:
      interval: monthly
    open-pull-requests-limit: 10
  - package-ecosystem: npm
    directory: "/server"
    schedule:
      interval: monthly
    open-pull-requests-limit: 5
